.brand {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    div {
        max-width: 150px;
        min-width: 120px;
        margin: 16px;
    }

   
}